body {
  margin: 15px;
  background-color: papayawhip;
}

p {
  margin: 10px 10px;
}

footer {
  background-color: lightslategrey;
}

input {
  margin: 10px 10px;
}

div {
  margin: 10px 0 10px 0;
}






















/* .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }

.active-slide{
    opacity: 1;
    z-index: 2;
  }

.quiz-container{
    position: relative;
    height: 200px;
  }

#scoresLink {
    display: none;
} */