body {
    background-color: papayawhip;
}
header {
    background-color: coral;
}
#instructions {
    background-color: cornflowerblue;
}
#questions {
    background-color: red;
}

#answers {
    background-color: yellow;
}

#answers form {
    background-color: green;
}

footer {
    background-color: lightslategrey;
}