body {
    margin: 15px;
}

h1 {
    margin: 10px 10px;
    padding: 10px;
}

/* nav a {
    margin: 10px 10px;
    padding: 0 10px;
} */

p {
    margin: 10px 10px;
}

article {
    margin: 10px 0;
}

div {
    margin: 10px 0;
}

form {
    display: none;
}

form input[type=radio] {
    margin: 10px 10px;
}

form input[type=submit]{
    margin: 10px 10px;
}